:root {
  --swiper-pagination-right: 8px;
}

.scroll-nav {
  position: fixed;
  left: auto;
  top: 50%;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.scroll-nav-inner .active .scroll-nav-line {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
  animation-name: example;
  animation-duration: .5s;
  width: 3vw;
}

.scroll-down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -0%);
}

.scroll-down p {
  font-size: 16px;
  line-height: 1;
  padding: 5px 0px;
  margin: 0px;
}

.scroll-down .arrows {
  height: 50px;
  overflow: hidden;
}

.scroll-down .arrow {
  width: 12px;
  height: 12px;
  margin: .5px auto;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

@keyframes example {
  0% {
    width: 2vw;
  }

  100% {
    width: 3vw;
  }
}

.h-100vh {
  height: 100vh;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.scroll-nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 3vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.scroll-nav-link-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 17px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.scroll-nav-text {
  position: relative;
  display: none;
  opacity: 0;
  color: #fff !important;
  font-size: 0.7em;
  font-weight: 300;
  border: none;
}

.scroll-nav-line {
  width: 3vw;
  height: 1px;
  margin-left: 3vw;
  background-color: #fff !important;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;

}

.w-node-div-block-21-7d08bc7f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

.swiper-pagination {
  right: 25px !important;
}

.text-container {
  height: 200vh;
  position: relative;
  z-index: 2;
}

#good path {
  stroke-width: 1px;
}

#Layer_1 path,
#good path,
.animation-svg path {
  fill: none;
  stroke: #000;
  stroke-dasharray: 966.6312255859375;
  stroke-dashoffset: 966.6312255859375;
  animation: hello_animation linear 10s infinite;
  opacity: .5;
}

@keyframes hello_animation {
  to {
    stroke-dashoffset: 0;
  }

  form {
    stroke-dashoffset: 966.6312255859375;
  }
}

.secrion-3-font {
  font-family: 'Unageo', sans-serif;
  font-weight: 600;
}

#Layer_1 path {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  opacity: 0.5
}

.sdf-img {
  transition: transform 0.3s ease-out;

}

.sdf {
  background-color: #fff;
  /* height: 100vh; */
}

.st0 {
  fill: #F3F1F0;
}

.opacity-0_5 path {
  opacity: 0.2;
}

.glass {
  left: -15%;
  top: -20%;
  width: 38%;
}

.glass-1 {
  /* left: -15%; */
  top: -20%;
  width: 38%;
}

.glass-2 {
  left: 27%;
  top: -8%;
  width: 38%;
}

.glass-8 {
  right: -6%;
  top: 10%;
  width: 30%;
}

.glass-7 {
  right: -5.3%;
  top: 45%;
  width: 25%;
}

.glass-3 {
  right: 35%;
  top: 45%;
  width: 30%;
}

.glass-4 {
  left: 5%;
  top: 10%;
  width: 35%;
}

.glass-5 {
  left: -10%;
  top: 40%;
  width: 50%;
}

.glass-6 {
  right: 5%;
  top: 20%;
  width: 50%;
}

.text-container {
  position: relative;
  z-index: 2;
}

.cls-1 {
  fill: #fff;
}

.textsdsdd {
  transition: animate 1s ease;
}

@keyframes animate {
  to {
    top: -5%;
  }

  form {
    top: 73%;
  }
}

.good-morning {
  font-family: 'Baloo 2', cursive;
  font-size: 35px;
  height: 10%;
  width: 100%;
}

.home-container .home-container-text {
  display: grid;
  font-weight: 700;
  color: #91806f;
  line-height: 1;
  padding-bottom: 20px;
}

.home-container .home-container-text span {
  color: #000;
}

.button-77:after {
  top: 2px !important;
  bottom: 2px !important;
  left: 2px !important;
  right: 2px !important;
}

@media (min-width:1400px) {
  .home-container {
    width: 47%;
    gap: 0px !important;
  }

  .home-container .button-77 {
    min-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .home-container .home-container-text {
    font-size: 67px;

  }

  .home-container .home-container-text span {
    color: #000;
    font-size: 101px;
  }

  .home-container span:nth-child(3) {
    color: #2b292a;
    font-weight: 600;
    font-style: italic;

  }

}

@media screen and (max-width:1024px) {

  .stagger h1 {
    font-size: 125px !important;
  }

  .textsdsdd {
    font-size: 800px !important;
  }

  .home-container {
    width: 55%;
    gap: 0px !important;
  }

  .home-container .button-77 {
    min-height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .home-container .home-container-text {
    font-size: 67px;

  }

  .home-container .home-container-text span {
    color: #000;
    font-size: 73px;
  }

  .home-container span:nth-child(3) {
    color: #2b292a;
    font-weight: 600;
    font-style: italic;

  }
}


@media screen and (max-width:768px) {
  .home-container .home-container-text {
    font-size: 40px;

  }

  .home-container-second-text {
    font-size: 13px !important;
  }

  .home-container-third-text {
    font-size: 13px !important;
  }

  .home-container .home-container-text span {
    color: #000;
    font-size: 59px;
  }

  section h1,
  .bg-color h1 {
    font-size: 25px !important;
  }

  .stagger1 h1 {
    font-size: 40px !important;
  }

  .contact-us {
    height: 100% !important;
  }

  .contact-us .description,
  .contact-us .tagline,
  .contact-us .tagline-1,
  .contact-us .lastline {
    width: 100%;
  }

  .contact-us .contact-us-info {
    padding: 50px 20px;
  }

  .contact-us .form {
    padding: 50px 20px;
  }

  .contact-us .form .px-5 {
    padding: 0px !important;
  }

  .carousel-img {
    padding: 0px 10px !important;
  }

  nav .menu-logo {
    width: 25% !important;
  }

  .textsdsdd {
    font-size: 400px !important;
  }

  .contact-us .h-100vh {
    height: 100% !important;
  }

  .navbar-container-padding span {
    font-size: 15px;
  }






  .glass-3 {
    right: 40%;
    top: 30%;
    width: 35%;
  }

  .glass-4 {
    left: -10%;
    top: 20%;
    width: 50%;
  }

  .glass-5 {
    left: -10%;
    top: 60%;
    width: 50%;
  }

  .glass-6 {
    right: 0%;
    top: 50%;
    width: 60%;
  }
}


@media screen and (max-width:480px) {
  .glass {
    left: 24%;
    top: 60%;
    width: 38%;
  }

  .glass-1 {
    left:-15%;
    top: 0%;
    width: 47%;
  }

  .glass-2 {
    left: 25%;
    top: -8%;
    width: 50%;
  }

  .glass-8 {
    right: -6%;
    top: 10%;
    width: 50%;
  }

  .glass-7 {
    right: -5.3%;
    top: 40%;
    width: 43%;
  }

  .glass-3 {
    right: 27%;
    top: 30%;
    width: 57%;
  }

  .glass-4 {
    left: -25%;
    top: 35%;
    width: 70%;
  }

  .glass-5 {
    left: -20%;
    top: 70%;
    width: 64%;
  }

  .glass-6 {
    right:-5%;
    top: 65%;
    width: 70%;
  }
  .home-container .home-container-text {
    font-size: 40px;
  }

  .home-container .home-container-text span {
    color: #000;
    font-size: 60px;
  }

  .home-container-second-text {
    font-size: 14px !important;
  }

  .home-container-third-text {
    font-size: 14px !important;
  }

  section h1,
  .bg-color h1 {
    font-size: 20px !important;
  }

  .stagger1 h1 {
    font-size: 50px !important;
    font-weight: bolder;
    font-family: Markpro !important;
  }

  .button-77 {
    font-size: 10px !important;
    min-height: 40px !important;
    padding: 9px 20px !important;
  }

  .contact-us {
    height: 100% !important;
  }

  .contact-us .description,
  .contact-us .tagline,
  .contact-us .tagline-1,
  .contact-us .lastline {
    width: 100%;
  }

  .contact-us .contact-us-info {
    padding: 50px 20px;
    text-align: center !important;
  }

  .contact-us .contact-us-info .description,
  .contact-us .contact-us-info .tagline,
  .contact-us .contact-us-info .lastline {
    width: 100%;
  }

  .contact-us .form {
    padding: 50px 20px !important;
  }

  .contact-us aty .px-5 {
    padding: 0px !important;
  }

  .carousel-img {
    padding: 0px 10px !important;
  }

  nav .menu-logo {
    width: 60% !important;
  }

  .textsdsdd {
    font-size: 400px !important;
  }

  .contact-us .h-100vh {
    height: 100% !important;
  }

  .text-140-regular.how {
    margin-left: 0em;
    font-size: 4em;
    text-align: left;
  }

  .text-16-regular.max-w-80 {
    width: 100%;
    line-height: 130%;
    text-align: center;
    font-size: 14px;
  }

  .point {
    width: 500px;
  }

  .point.above {
    top: 6vh;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .point.below {
    bottom: -23vh;
  }

  .line-1-text-item img {
    width: 12vw !important;
  }

  .text-step {
    font-size: 1em;
  }

  .navbar-container-padding span {
    font-size: 10px;
  }
}

.navbar-container {
  background-color: transparent !important;
}