@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Qalogre';
  src: url('fonts/Qalogre-K7Y1W.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.kdjff {
  /* height: 20vh; */
  width: 100%;
  display: grid;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: left;
}

.ab-about-content span {
  height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: #000;
  padding: 0 20px;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: -55px;
  left: 20px;
  transform: rotate(-24deg);
}

.ab-about-content P {
  font-size: 54px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1.08px;
  color: #000;
  padding-right: 25px;
}

/* Intro Section */
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  text-align: center;
}

.intro img {
  max-width: 80%;
  margin-top: 20px;
}

/* Container for small-section & panels */
.stack-container {
  position: relative;
  height: 100vh;
}

/* 5vh rectangular section */
.small-section {
  position: fixed;
  top: 22vh;
  left: 0;
  width: 100%;
  height: 5vh;
  z-index: 9;
  transform: translateY(100vh);
  /* Initially off-screen */

}

.small-section .articles_header {
  padding: 2px 0px !important;
  background-color: #d9d4c5;
  font-weight: bold;
  color: #000;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000; */
  font-family: "Poppins", sans-serif;
  /* -webkit-text-fill-color: transparent; */
}

.articles_header li {
  color: #000;
}

.new_style {
  --bg: #d9d4c5;
  --hover-bg: #000;
  --hover-text: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.new_style:hover {
  color: var(--hover-text);
  -webkit-transform: translate(-0.25rem, -0.25rem);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  -webkit-box-shadow: 0.25rem 0.25rem var(--bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.new_style:active {
  transform: translate(0);
  box-shadow: none;
}


/* Panels styling */

.panel-text {
  font-size: 0.6em;
  width: 100%;
}

.articles_li_header {
  display: flex;
  justify-content: space-between;
}

.font-en-df {
  color: #000;
  text-align: left;
  padding: 0px;
}

.articles_li_num {
  width: 7% !important;
  padding: 0px !important;
}

/* .panel-image {
  transform: scale(0.5); 
} */

/* First panel image starts at full scale */
.panel .panel-image {
  transform: scale(1);
}

/* Different background colors for each panel */
.panel {
  background: #ffffff;
}

.panel-body {
  /* height: 300px; */
}

.panel-text-div {
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  height: 100%;
  padding-left: 10px;
}

.panel-image-div {
  height: 69.5vh;
}

.sdsss .btn_style.active {
  background-color: #d9d4c5;
}

.btn_style {
  position: relative;
  border: 1px solid #d9d4c5 !important;
  border-radius: 30px;
  color: #2d2d2b;
  font-size: 12px;
  font-family: Neurialgrotesk Bold, sans-serif;
  padding: 1rem 1rem 1rem 1rem;
}

.btn_style .btn_icon {
  position: absolute;
  left: 2%;
  top: 4%;
  width: 30%;
}

.sdsss .btn_icon .btn_icon_1 {
  position: relative;
  top: 2px;
  width: 46px !important;
}

.sdsss .btn_style .btn_icon_2 {
  display: none;
}

.sdsss .btn_style.active .btn_icon_1 {
  display: none;
}

.sdsss .btn_style.active .btn_icon_2 {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 45px !important;

}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transition: background 1.5s ease, backdrop-filter 1.5s ease;
  z-index: 500;
  pointer-events: none;
}

.blurred {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  pointer-events: auto;
}

.expand-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #d9d4c5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
  transition: width 1.5s ease, height 1.5s ease, border-radius 1.5s ease;
  z-index: 999999;
}

.btn-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.contents {
  display: none;
  color: white;
  padding: 20px;
  opacity: 0;
  transition: opacity 1.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
}

.contents h2 {
  margin-top: 0;
  font-size: 24px;
}

.expanded {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  border-radius: 12px;
  z-index: 1100;
}

.image-section .row {
  flex-direction: column;
  direction: rtl;
}

.sdsss {
  position: relative;
}

#step1 {
  display: none;
  top: 13%;
  left: 31%;
  width: 68%;
  position: fixed;
  padding: 8px 5px;
  margin: 0px;
  border-radius: 20px;
  border: 2px solid #000;
  font-size: 1.2rem;
  z-index: 99999;
  background-color: #fff;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}


.tooltips {
  display: none;
  position: fixed;
  background: #ffffff;
  color: #000;
  padding: 20px 25px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  z-index: 99999;
  transition: all 0.3s ease;
  font-size: 1rem;
  line-height: 1.4;
  top: 22%;
  left: 32%;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.offcanvas-body {
  overflow-y: scroll!important;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.kjkjdfssss .btn_style.active {
  background-color: #d9d4c5;
}

.tooltips button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #111;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  font-size: 13px;
}

.tooltips button:hover {
  background: #333;
}

.guide-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 9998;
  display: none;
}
@media (max-width: 1440px) {
  .btn_style{
    font-size: 7px;
  }
}
@media (min-width:768px){
  .offcanvas{
    width: 50%!important;
  }
  .off-canvas-variant{
    padding:10px 0px;
  }
  .off-canvas-variant span{
    font-size: 17px;
    font-weight: 500;
  }
  .off-canvas-variant .col-6{
    width: 25%;
    padding: 2px 2px;

  }
}
@media (max-width:768px) {
  .stack-container {
    height: 100% !important;
  }
  .off-canvas-variant{
    padding:10px 0px;
  }
  .off-canvas-variant span{
    padding-bottom: 10px;
  }
  .off-canvas-variant .col-6 {
    padding: 2px 2px;
  }
  .mobile_view_frist_section {
    transform: translate(0px, 13vh) !important;
  }

  .mobile_view {
    flex-direction: column !important;
    height: 153px !important;
  }

  .kdjff {
    width: 100% !important;
    height: 80px !important;
  }

  .sdsss {
    width: 100% !important;
    height: 65px !important
  }

  .k8nd8 {
    font-size: 120px !important;
  }

  .btn_style .btn_icon {
    position: absolute;
    left: 2%;
    top: 6%;
    width: 20%;
    display: none;
  }

  .sdsss .btn_icon .btn_icon_1 {
    position: relative;
    top: 2px;
    width: 30px !important;
  }

  .sdsss .btn_style.active .btn_icon_2 {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 33px !important;
  }

  .btn_style {
    font-size: 13px;
    padding: 0.7rem .7rem .7rem .7rem;
  }

  #newcolum {
    transform: translate(0px, 0px) !important;
  }

  #newcolum .col-md-4 {
    overflow: hidden;
  }

  .image-section .row {
    justify-content: start !important;
    direction: ltr;
  }

  .left-images {
    width: 100% !important;
    height: 100px !important;
  }

  .right-image {
    width: 100% !important;
    height: 73% !important;
  }

  .slider img {
    height: 100px !important;
  }

  .slider {
    flex-direction: row !important;
  }

  .typings .text {
    font-size: 1.1rem;
    left: 0%;
  }

  .pb-sm-20 {
    padding-bottom: 90px;
  }
}

@media (max-width: 480px) {
  .panel-body .d-flex {
    flex-direction: column-reverse;
  }

  .panel-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 12px !important;
  }

  .mobile_view {

    height: 180px !important;
  }

  .sdsss {
    width: 100% !important;
    height: 130px !important;
  }

  .kdjff {
    width: 100% !important;
    height: 70px !important;
  }

  .k8nd8 {
    font-size: 60px !important;
    left: 15px !important;
  }

  .k8nd8 {
    font-size: 60px !important;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .panel-title {
    font-size: 30px !important;
  }

  .panel-subtitle {
    font-size: 15px !important;
  }

  .panel-description {
    font-size: 12px !important;
    padding-top: .1rem !important;
  }

  .new_style {
    width: 35%;
    font-size: 11px !important;
  }

  .left-images {
    width: 20% !important;
    height: 300px !important;
  }

  .right-image {
    width: 76% !important;
    height: 73% !important;
  }

  .image-section .row {
    flex-direction: row !important;

    direction: rtl;
  }

  .two-colum-div {
    gap: 10px;
  }

  .slider {
    flex-direction: column !important;
  }

  .slider img {
    width: 100% !important;
    height: 100px !important;
  }

  .right-image img {
    width: 100% !important;
    height: 100% !important;
  }

  .panel-image-div {
    height: 35vh;
  }

  .panel-text-div .pt-4 {
    padding-top: 0rem !important;
  }

  .panel-text-div .pt-5 {
    padding-top: 1rem !important;
  }

  .offcanvas {
    width: 100% !important;
  }

  .slider-wrapper {
    width: 100% !important;
  }

  .typings .rectangle {
    align-items: start;
    height: 6vh;

  }

  .typings .text {
    white-space: normal;
    font-size: .8rem;
    text-align: left;
    left: 0%;
  }

  .btn_style .btn_icon {
    display: none;
  }

  .h84gf {
    flex-wrap: wrap;
    transform: translate(20px, 10px) !important;
  }

  .btn_style {
    font-size: 10px;
    padding: .4rem 1.2rem .4rem 1.2rem;
  }

  .panels {
    height: 100%;
    padding: 0px;
    transform: translateY(10vh);

  }

  .small-section {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: 7vh;
    z-index: 9;
    transform: translateY(10vh);
  }

  #newcolum {
    display: none;
  }

  .mobile_view_frist_section {
    position: relative !important;
    transform: translate(0px, -2vh) !important;
  }

  #step1 {
    top: 100px;
    left: 2%;
    width: 94%;
    padding: 10px 20px;
  }
  #step1 .kjkjdfssss{
    flex-wrap: wrap;
  }
  .tooltips {
    top: 32%;
    left: 10%;
  }
}

@media only screen and (max-width: 440px) and (-webkit-device-pixel-ratio: 3) {

  /* iPhone Pro Max */
  .panel-body .d-flex {
    flex-direction: column-reverse;
  }

  #newcolum {
    transform: translate(0px, 15px) !important;
  }

  .panel-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 12px !important;
  }

  .mobile_view {
    flex-direction: column !important;
    height: 180px !important;
  }

  .kdjff {
    width: 100% !important;
    height: 90px !important;
  }

  .sdsss {
    width: 100% !important;
    height: 200px !important;
  }

  .k8nd8 {
    font-size: 60px !important;
    left: 20px !important;
  }

  .panel-text-div {
    padding-left: 15px;
  }

  .h84gf {
    flex-wrap: wrap;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .panel-title {
    font-size: 30px !important;
  }

  .panel-subtitle {
    font-size: 15px !important;
  }

  .panel-description {
    font-size: 12px !important;
    padding-top: .1rem !important;
  }

  .new_style {
    width: 35%;
    font-size: 11px !important;
  }

  .left-images {
    width: 20% !important;
    height: 280px !important;
  }

  .right-image {
    width: 71.4% !important;
    height: 73% !important;
  }

  .image-section .row {
    justify-content: center !important;
    flex-direction: row !important;
    direction: rtl;
    padding-top: 5px;
  }

  .two-colum-div {
    gap: 10px;
  }

  .slider {
    flex-direction: column !important;
  }

  .slider img {
    width: 100% !important;
    height: 85px !important;
  }

  .right-image img {
    width: 100% !important;
    height: 100% !important;
  }

  .panel-image-div {
    height: 35vh;
  }

  .panel-text-div .pt-4 {
    padding-top: 0rem !important;
  }

  .panel-text-div .pt-5 {
    padding-top: 1rem !important;
  }

  .offcanvas {
    width: 100% !important;
  }

  .typings .text {
    font-size: .8rem;
    left: 0%;
  }

  .btn_style .btn_icon {
    display: none;
  }

  .btn_style {
    font-size: 10px;
    padding: 0.4rem 1rem .4rem 1rem;
  }
  #step1 {
    top: 10%;
  }
  .tooltips {
    top: 32vh;
    left: 2.5vw;
  }
}

@media only screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) {

  /* iPhone 14/15 Pro */
  .panel-body .d-flex {
    flex-direction: column-reverse;
  }


  .panel-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 12px !important;
  }

  .mobile_view {
    flex-direction: column !important;
    height: 160px !important;
  }

  .kdjff {
    width: 100% !important;
    height: 70px !important;
  }

  .k8nd8 {
    font-size: 60px !important;
    left: 15px !important;
  }

  .panel-text-div {
    padding-left: 15px;
  }

  .h84gf {
    flex-wrap: wrap;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .panel-title {
    font-size: 30px !important;
  }

  .panel-subtitle {
    font-size: 15px !important;
  }

  .panel-description {
    font-size: 12px !important;
    padding-top: .1rem !important;
  }

  .new_style {
    width: 35%;
    font-size: 11px !important;
  }

  .left-images {
    width: 20% !important;
    height: 280px !important;
  }

  .right-image {
    width: 71.4% !important;
    height: 73% !important;
  }

  .image-section .row {
    justify-content: center !important;
    flex-direction: row !important;
    direction: rtl;
    padding-top: 5px;
  }

  .two-colum-div {
    gap: 10px;
  }

  .slider {
    flex-direction: column !important;
  }

  .slider img {
    width: 100% !important;
    height: 85px !important;
  }

  .right-image img {
    width: 100% !important;
    height: 100% !important;
  }

  .panel-image-div {
    height: 35vh;
  }

  .panel-text-div .pt-4 {
    padding-top: 0rem !important;
  }

  .panel-text-div .pt-5 {
    padding-top: 1rem !important;
  }

  .offcanvas {
    width: 100% !important;
  }

  .typings .text {
    font-size: .8rem;
    left: 0%;
  }

  .btn_style .btn_icon {
    display: none;
  }

  .btn_style {
    font-size: 10px;
    padding: 0.4rem 1rem .4rem 1rem;
  }

  .footer-bg-color {
    margin-bottom: -10px !important;
  }

  .panel {
    height: 75vh;
  }
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {

  /* iPhone 12–15 */
  .panel-body .d-flex {
    flex-direction: column-reverse;
  }

  #newcolum {
    transform: translate(0px, 15px) !important;
  }

  .panel-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 12px !important;
  }

  .mobile_view {
    flex-direction: column !important;

  }

  .kdjff {
    width: 100% !important;
    height: 65px !important;
  }

  .sdsss {
    width: 100% !important;
    height: 180px !important;
  }

  .k8nd8 {
    font-size: 60px !important;
  }

  .h84gf {
    flex-wrap: wrap;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .panel-text-div {
    padding-left: 15px;
  }

  .panel-title {
    font-size: 30px !important;
  }

  .panel-subtitle {
    font-size: 15px !important;
  }

  .panel-description {
    font-size: 12px !important;
    padding-top: .1rem !important;
  }

  .new_style {
    width: 35%;
    font-size: 11px !important;
  }

  .left-images {
    width: 20% !important;
    height: 280px !important;
  }

  .right-image {
    width: 71.4% !important;
    height: 73% !important;
  }

  .image-section .row {
    justify-content: center !important;
    flex-direction: row !important;
    direction: rtl;
  }

  .two-colum-div {
    gap: 10px;
  }

  .slider {
    flex-direction: column !important;
  }

  .slider img {
    width: 100% !important;
    height: 94px !important;
  }

  .right-image img {
    width: 100% !important;
    height: 100% !important;
  }

  .panel-image-div {
    height: 35vh;
  }

  .panel-text-div .pt-4 {
    padding-top: 0rem !important;
  }

  .panel-text-div .pt-5 {
    padding-top: 1rem !important;
  }

  .offcanvas {
    width: 100% !important;
  }

  .typings .text {
    font-size: .8rem;
    left: 0%;
  }

  .btn_style .btn_icon {
    display: none;
  }

  .h84gf {
    flex-wrap: wrap;
    transform: translate(6px, 10px) !important;
  }

  .btn_style {
    font-size: 10.5px;
    padding: 0.5rem 1rem .5rem 1rem;
  }

  .mobile_view {

    height: 240px !important;
  }

  .small-section {

    transform: translateY(17vh);
  }

  .panels {
    transform: translateY(17vh);
  }
  #step1 {
    top: 10%;
  }
  .tooltips {
    top: 40vh;
    left: 2.5vw;
  }
}

@media (max-width: 375px) {

  .k8nd8 {
    font-size: 60px !important;
    left: 15px !important;
  }

  .kdjff {
    height: 42px !important;
  }

  .new_style {
    width: 40%;
  }

  .mobile_view {

    height: 290px !important;
  }

  .sdsss {
    width: 100% !important;
    height: 250px !important;
  }

  .small-section {
    transform: translateY(13vh);
  }

  .panels {
    transform: translateY(13vh);
  }

  .mobile_view_frist_section {
    transform: translate(0px, -1vh) !important;
  }

  .h84gf {
    transform: translate(7px, 10px) !important;
  }
}

@media (max-width: 320px) {
  .k8nd8 {
    font-size: 50px !important;
    left: 15px !important;
  }

  .new_style {
    width: 45%;
  }

  .typings .text {
    font-size: .75rem;
    left: 0%;
  }

  .mobile_view {

    height: 300px !important;
  }

  .sdsss {
    width: 100% !important;
    height: 300px !important;
  }

  .small-section {
    transform: translateY(18vh);
  }

  .panels {
    transform: translateY(18vh);
  }
}